
header
	background url('../images/header.jpg') center  
	height 161px
	.content
		background transparent
	h1 
		float left
		text-align right
	img 
		float left

#entradas
	padding-top 50px
	overflow hidden
.posts 
	float left
.post 
	overflow hidden
	color black
	margin-bottom 60px
	.entrada 
		background white
		width 490px
		float left
		padding 20px
		p 
			font-family Arial
		hr 
			margin 10px 0
		.date 
			color #6b6b6b
			font-size 14px
			font-weight normal
		.titulo
			font-size 30px
			font-weight normal
		.mas-info
			color black 
			margin-top 20px
			display block
	.datos 
		width 60px
		float left
		.tipo 
			background-color #ed1c24 
			width 60px
			height 60px
			display block 
		.video 
			background #ed1c24 url('../images/aset1.png') no-repeat center
		.n-coment 
			background white
			width 40px
			margin 10px auto
			text-align center
			padding 10px 0

			display block
.sidebar 
	float left
	margin-left 40px
	h4 
		background #ed1c24
		font-weight normal
		height 43px 
		letter-spacing 3px
		line-height 43px
		text-align center
		text-transform uppercase
		width 300px
		margin 10px 0 30px
	ul 
		background #4e4e4e
		margin 0 auto 50px auto
		padding 0 
		padding 10px 0
		width 265px
	a 	
		color white
		display block
		padding 5px 0
		text-decoration none
		&:hover 
			text-decoration underline
	li 
		list-style none
		padding-left 50px
